In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
    
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydatabase"

DATABASE_URL = (
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}"
    f"@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine = create_engine(DATABASE_URL)
print("‚úÖ Connected to PostgreSQL")

‚úÖ Connected to PostgreSQL

In [3]:
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

def create_tables():
    queries = [
        # Branches
        """
        CREATE TABLE IF NOT EXISTS branches (
            branch_id SERIAL PRIMARY KEY,
            branch_no INT UNIQUE NOT NULL
        );
        """,
        # Gender
        """
        CREATE TABLE IF NOT EXISTS gender (
            gender_id SERIAL PRIMARY KEY,
            gender_name VARCHAR(10) UNIQUE NOT NULL
        );
        """,
        # Careers
        """
        CREATE TABLE IF NOT EXISTS careers (
            career_id SERIAL PRIMARY KEY,
            career_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Provinces
        """
        CREATE TABLE IF NOT EXISTS provinces (
            province_id SERIAL PRIMARY KEY,
            province_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Members
        """
        CREATE TABLE IF NOT EXISTS members (
            member_id INT PRIMARY KEY,
            first_name VARCHAR(50) NOT NULL,
            last_name VARCHAR(50) NOT NULL,
            gender_id INT REFERENCES gender(gender_id),
            branch_id INT REFERENCES branches(branch_id),
            birthday DATE NOT NULL CHECK (birthday <= CURRENT_DATE),
            registration_date DATE NOT NULL CHECK (registration_date <= CURRENT_DATE),
            approval_date DATE CHECK (approval_date <= CURRENT_DATE),
            career_id INT REFERENCES careers(career_id),
            income NUMERIC(12,2) CHECK (income >= 0)
        );
        """,
        # Addresses
        """
        CREATE TABLE IF NOT EXISTS addresses (
            address_id SERIAL PRIMARY KEY,
            member_id INT NOT NULL REFERENCES members(member_id) ON DELETE CASCADE,
            house_no VARCHAR(20),
            moo VARCHAR(5),
            street VARCHAR(100),
            subdistrict VARCHAR(50),
            district VARCHAR(50),
            province_id INT REFERENCES provinces(province_id),
            postal_code VARCHAR(10),
            UNIQUE(member_id, house_no, moo, street, subdistrict, district, province_id, postal_code)
        );
        """,
        # Amount (Financial)
        """
        CREATE TABLE IF NOT EXISTS amount (
            member_id INT PRIMARY KEY REFERENCES members(member_id) ON DELETE CASCADE,

            net_yearly_income NUMERIC(14,2) NOT NULL CHECK (net_yearly_income >= 0),
            yearly_debt_payments NUMERIC(14,2) NOT NULL CHECK (yearly_debt_payments >= 0),

            credit_limit NUMERIC(14,2) NOT NULL CHECK (credit_limit >= 0),
            credit_limit_used_percent NUMERIC(5,2)
                CHECK (credit_limit_used_percent BETWEEN 0 AND 100)
        );
        """
    ]

    with engine.begin() as conn:
        for q in queries:
            conn.execute(text(q))
    print("‚úÖ Tables created successfully")

if __name__ == "__main__":
    create_tables()

‚úÖ Tables created successfully

In [4]:
pd.read_sql(
    "SELECT * FROM public.branches;",
    engine
)

Empty DataFrame
Columns: [branch_id, branch_no]
Index: []

# AMOUNT

In [5]:
from sqlalchemy import create_engine, text
import pandas as pd

# ======================
# Database Config
# ======================
DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

# ======================
# 1. Create Table: amount (‡∏•‡πâ‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡πÄ‡∏Å‡πà‡∏≤‡πÅ‡∏•‡∏∞‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÉ‡∏´‡∏°‡πà)
# ======================
def create_amount_table():
    # ‡∏•‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏Å‡πà‡∏≤‡∏ó‡∏¥‡πâ‡∏á‡∏Å‡πà‡∏≠‡∏ô (‡∏£‡∏∞‡∏ß‡∏±‡∏á: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á amount ‡∏à‡∏∞‡∏´‡∏≤‡∏¢)
    # ‡πÉ‡∏ä‡πâ CASCADE ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏°‡∏±‡∏ô‡∏•‡∏ö View ‡∏ó‡∏µ‡πà‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ô‡∏µ‡πâ‡∏ó‡∏¥‡πâ‡∏á‡πÑ‡∏õ‡∏î‡πâ‡∏ß‡∏¢
    drop_sql = "DROP TABLE IF EXISTS amount CASCADE;"
    
    create_sql = """
    CREATE TABLE amount (
        amount_id SERIAL PRIMARY KEY, 
        net_yearly_income NUMERIC(15,2) DEFAULT 0,
        yearly_debt_payments NUMERIC(15,2) DEFAULT 0,
        credit_limit NUMERIC(15,2) DEFAULT 0,
        credit_limit_used_pct NUMERIC(5,2) DEFAULT 0
    );
    """
    with engine.begin() as conn:
        conn.execute(text(drop_sql))
        conn.execute(text(create_sql))
    print("‚úÖ Table 'amount' re-created successfully with 'amount_id'")

# ======================
# 2. Create VIEW: members + amount
# ======================
def create_member_amount_view():
    sql = """
    CREATE OR REPLACE VIEW vw_member_amount AS
    SELECT
        m.member_id,
        m.first_name,
        m.last_name,
        m.income,
        a.net_yearly_income,
        a.yearly_debt_payments,
        a.credit_limit,
        a.credit_limit_used_pct
    FROM
        (
            SELECT *, ROW_NUMBER() OVER (ORDER BY member_id) AS rn
            FROM members
            LIMIT 500
        ) m
    INNER JOIN
        (
            SELECT *, ROW_NUMBER() OVER (ORDER BY amount_id) AS rn
            FROM amount
            LIMIT 500
        ) a
    ON m.rn = a.rn;
    """
    with engine.begin() as conn:
        conn.execute(text(sql))
    print("‚úÖ View 'vw_member_amount' created successfully")

# ======================
# 3. Test Preview
# ======================
def preview_result():
    try:
        df = pd.read_sql("SELECT * FROM vw_member_amount LIMIT 5", engine)
        print("üîç Result Preview:\n", df if not df.empty else "No data yet.")
    except Exception as e:
        print(f"‚ùå Preview failed: {e}")

if __name__ == "__main__":
    create_amount_table()
    create_member_amount_view()
    preview_result()

‚úÖ Table 'amount' re-created successfully with 'amount_id'
‚úÖ View 'vw_member_amount' created successfully
üîç Result Preview:
 No data yet.

# Creat table credit score