In [34]:
import pandas as pd
from sqlalchemy import create_engine, text

# ‡∏ï‡∏±‡πâ‡∏á‡∏Ñ‡πà‡∏≤‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠ (‡∏õ‡∏£‡∏±‡∏ö‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ï‡∏≤‡∏°‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡∏ï‡∏±‡πâ‡∏á‡πÑ‡∏ß‡πâ‡πÉ‡∏ô Docker)
DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

# ‡∏ó‡∏î‡∏™‡∏≠‡∏ö‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠
try:
    with engine.connect() as conn:
        print("‚úÖ ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!")
except Exception as e:
    print(f"‚ùå ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏•‡πâ‡∏°‡πÄ‡∏´‡∏•‡∏ß: {e}")

‚úÖ ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!

In [35]:
# ‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ü‡∏•‡πå CSV
df = pd.read_excel("/Users/hilmanyusoh/Desktop/Co-opDash/data/credit_dataset.xlsx")

# ‡πÅ‡∏õ‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏ï‡πâ‡∏≠‡∏á
date_columns = ['account_open_date', 'report_date', 'last_update_date']
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], dayfirst=True, errors='coerce')

# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö 5 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å
df.head()

,customer_id,national_id,borrower_name,age,gender,education,occupation,monthly_income,account_number,contract_number,...,total_credit_limit,credit_utilization_rate,oldest_account_months,inquiries_6m,inquiries_12m,credit_score,credit_rating,score_range,report_date,last_update_date
0,CUST000001,1043321819600,‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ ‡∏Å,58,‡∏ä‡∏≤‡∏¢,‡∏°‡∏±‡∏ò‡∏¢‡∏°,‡∏≠‡∏∑‡πà‡∏ô‡πÜ,20000,2963347272742318,MNE-4986-837189,...,30000,0.0,10,1,6,710,CC,699-724,2026-02-01,2025-09-07
1,CUST000002,1338908386379,‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ ‡∏Ç,48,‡∏´‡∏ç‡∏¥‡∏á,‡∏°‡∏±‡∏ò‡∏¢‡∏°,‡∏£‡∏±‡∏ö‡∏à‡πâ‡∏≤‡∏á,15000,3061789320649693,MNE-2198-317243,...,50000,3.5,46,4,5,753,AA,753-900,2026-02-01,2026-09-04
2,CUST000003,4026542351161,‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ ‡∏É,34,‡∏´‡∏ç‡∏¥‡∏á,‡∏õ‡∏£‡∏¥‡∏ç‡∏ç‡∏≤‡∏ï‡∏£‡∏µ,‡∏ò‡∏∏‡∏£‡∏Å‡∏¥‡∏à‡∏™‡πà‡∏ß‡∏ô‡∏ï‡∏±‡∏ß,25000,5782434776958741,MNE-3346-372266,...,100000,1.2,45,1,7,748,BB,725-752,2026-02-01,2025-06-23
3,CUST000004,5594078161849,‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ ‡∏Ñ,62,‡∏´‡∏ç‡∏¥‡∏á,‡∏õ‡∏ß‡∏ä/‡∏õ‡∏ß‡∏™,‡∏ò‡∏∏‡∏£‡∏Å‡∏¥‡∏à‡∏™‡πà‡∏ß‡∏ô‡∏ï‡∏±‡∏ß,20000,3146753612751562,MNE-8165-461317,...,600000,0.0,39,3,6,748,BB,725-752,2026-02-01,2026-07-12
4,CUST000005,5931034131647,‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ ‡∏Ö,27,‡∏´‡∏ç‡∏¥‡∏á,‡∏õ‡∏£‡∏¥‡∏ç‡∏ç‡∏≤‡∏ï‡∏£‡∏µ,‡∏£‡∏±‡∏ö‡∏à‡πâ‡∏≤‡∏á,20000,7796304483608545,MNE-9228-992817,...,150000,7.6,85,1,3,752,BB,725-752,2026-02-01,2026-03-28

In [36]:
from sqlalchemy import text

# ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á SQL ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏™‡∏£‡πâ‡∏≤‡∏á Schema ‡πÅ‡∏•‡∏∞‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á
setup_sql = """
CREATE SCHEMA IF NOT EXISTS credit_scoring;

-- ‡∏•‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏Å‡πà‡∏≤
DROP TABLE IF EXISTS credit_scoring.customers CASCADE;
DROP TABLE IF EXISTS credit_scoring.credit_accounts CASCADE;
DROP TABLE IF EXISTS credit_scoring.payment_history CASCADE;
DROP TABLE IF EXISTS credit_scoring.credit_summary CASCADE;
DROP TABLE IF EXISTS credit_scoring.credit_scores CASCADE;

-- 1. ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤
CREATE TABLE credit_scoring.customers (
    customer_id VARCHAR(20) PRIMARY KEY,
    national_id VARCHAR(13) UNIQUE NOT NULL,
    borrower_name VARCHAR(200),
    age INTEGER,
    gender VARCHAR(10),
    education VARCHAR(50),
    occupation VARCHAR(100),
    monthly_income DECIMAL(15, 2)
);

-- 2. ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ö‡∏±‡∏ç‡∏ä‡∏µ‡∏™‡∏¥‡∏ô‡πÄ‡∏ä‡∏∑‡πà‡∏≠
CREATE TABLE credit_scoring.credit_accounts (
    customer_id VARCHAR(20),
    account_number VARCHAR(50) PRIMARY KEY,
    contract_number VARCHAR(50),
    product_type VARCHAR(100),
    account_open_date DATE,
    account_status VARCHAR(50),
    credit_limit DECIMAL(15, 2),
    approved_amount DECIMAL(15, 2),
    outstanding_balance DECIMAL(15, 2),
    monthly_payment DECIMAL(15, 2),
    total_installments INTEGER,
    paid_installments INTEGER,
    remaining_installments INTEGER
);

-- 3. ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏õ‡∏£‡∏∞‡∏ß‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏ä‡∏≥‡∏£‡∏∞‡πÄ‡∏á‡∏¥‡∏ô (‡∏Ç‡∏¢‡∏≤‡∏¢‡∏à‡∏≤‡∏Å 5,2 ‡πÄ‡∏õ‡πá‡∏ô 10,2)
CREATE TABLE credit_scoring.payment_history (
    customer_id VARCHAR(20) PRIMARY KEY,
    installments_overdue INTEGER,
    days_past_due INTEGER,
    overdue_amount DECIMAL(15, 2),
    payment_performance_pct DECIMAL(10, 2), -- ‡∏£‡∏≠‡∏á‡∏£‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏ï‡∏¥‡∏î‡∏•‡∏ö‡πÄ‡∏¢‡∏≠‡∏∞‡πÜ ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡πÄ‡∏Å‡∏¥‡∏ô 100
    late_payment_count_12m INTEGER,
    late_payment_count_24m INTEGER
);

-- 4. ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏™‡∏£‡∏∏‡∏õ‡∏û‡∏§‡∏ï‡∏¥‡∏Å‡∏£‡∏£‡∏°‡πÄ‡∏Ñ‡∏£‡∏î‡∏¥‡∏ï (‡∏Ç‡∏¢‡∏≤‡∏¢‡∏à‡∏≤‡∏Å 5,2 ‡πÄ‡∏õ‡πá‡∏ô 10,2)
CREATE TABLE credit_scoring.credit_summary (
    customer_id VARCHAR(20) PRIMARY KEY,
    total_accounts INTEGER,
    active_accounts INTEGER,
    closed_accounts INTEGER,
    total_credit_limit DECIMAL(15, 2),
    credit_utilization_rate DECIMAL(10, 2), -- ‡∏Ç‡∏¢‡∏≤‡∏¢‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡∏õ‡∏•‡∏≠‡∏î‡∏†‡∏±‡∏¢
    oldest_account_months INTEGER,
    inquiries_6m INTEGER,
    inquiries_12m INTEGER
);

-- 5. ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡πÄ‡∏Ñ‡∏£‡∏î‡∏¥‡∏ï
CREATE TABLE credit_scoring.credit_scores (
    customer_id VARCHAR(20) PRIMARY KEY,
    credit_score INTEGER,
    credit_rating VARCHAR(10),
    score_range VARCHAR(50),
    risk_category VARCHAR(50),
    report_date DATE,
    last_update_date TIMESTAMP DEFAULT NOW()
);
"""

with engine.begin() as conn:
    conn.execute(text(setup_sql))
    print("‚úÖ ‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏Ç‡∏¢‡∏≤‡∏¢‡∏Ç‡∏ô‡∏≤‡∏î DECIMAL ‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢‡πÅ‡∏•‡πâ‡∏ß!")

‚úÖ ‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏Ç‡∏¢‡∏≤‡∏¢‡∏Ç‡∏ô‡∏≤‡∏î DECIMAL ‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢‡πÅ‡∏•‡πâ‡∏ß!

In [37]:
def run_import():
    try:
        with engine.begin() as conn:
            # --- 1. Customers ---
            # ‡πÉ‡∏ä‡πâ drop_duplicates ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÅ‡∏ô‡πà‡πÉ‡∏à‡∏ß‡πà‡∏≤ 1 ID ‡∏°‡∏µ 1 ‡πÅ‡∏ñ‡∏ß
            customers = df[['customer_id', 'national_id', 'borrower_name', 'age', 'gender', 
                            'education', 'occupation', 'monthly_income']].drop_duplicates(subset=['customer_id'])
            customers.to_sql('customers', conn, schema='credit_scoring', if_exists='append', index=False)
            print("- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á customers: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à")

            # --- 2. Credit Accounts ---
            # ‡∏ö‡∏±‡∏ç‡∏ä‡∏µ‡∏™‡∏¥‡∏ô‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏≠‡∏≤‡∏à‡∏°‡∏µ‡∏´‡∏•‡∏≤‡∏¢‡∏ö‡∏±‡∏ç‡∏ä‡∏µ‡∏ï‡πà‡∏≠ 1 ‡∏Ñ‡∏ô‡πÑ‡∏î‡πâ ‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á drop_duplicates ‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤
            accounts = df[['customer_id', 'account_number', 'contract_number', 'product_type', 
                           'account_open_date', 'account_status', 'credit_limit', 'approved_amount', 
                           'outstanding_balance', 'monthly_payment', 'total_installments', 
                           'paid_installments', 'remaining_installments']].drop_duplicates(subset=['account_number'])
            accounts.to_sql('credit_accounts', conn, schema='credit_scoring', if_exists='append', index=False)
            print("- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_accounts: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à")

            # --- 3. Payment History ---
            history = df[['customer_id', 'installments_overdue', 'days_past_due', 'overdue_amount', 
                          'payment_performance_pct', 'late_payment_count_12m', 'late_payment_count_24m']].drop_duplicates(subset=['customer_id'])
            history.to_sql('payment_history', conn, schema='credit_scoring', if_exists='append', index=False)
            print("- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á payment_history: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à")

            # --- 4. Credit Summary ---
            summary = df[['customer_id', 'total_accounts', 'active_accounts', 'closed_accounts', 
                          'total_credit_limit', 'credit_utilization_rate', 'oldest_account_months', 
                          'inquiries_6m', 'inquiries_12m']].drop_duplicates(subset=['customer_id'])
            summary.to_sql('credit_summary', conn, schema='credit_scoring', if_exists='append', index=False)
            print("- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_summary: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à")

            # --- 5. Credit Scores ---
            scores = df[['customer_id', 'credit_score', 'credit_rating', 'score_range', 
                         'report_date', 'last_update_date']].drop_duplicates(subset=['customer_id'])
            
            # ‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô Error ‡∏Å‡∏£‡∏ì‡∏µ credit_score ‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á ‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà‡πÉ‡∏ä‡πà‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç
            def get_risk_cat(score):
                try:
                    s = float(score)
                    if s >= 750: return 'Low Risk'
                    if s >= 650: return 'Medium Risk'
                    return 'High Risk'
                except:
                    return 'Unknown'

            scores['risk_category'] = scores['credit_score'].apply(get_risk_cat)
            scores.to_sql('credit_scores', conn, schema='credit_scoring', if_exists='append', index=False)
            print("- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_scores: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à")
            
        print("\nüöÄ ‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ç‡πâ‡∏≤ Schema 'credit_scoring' ‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô!")
        
    except Exception as e:
        # ‡πÅ‡∏™‡∏î‡∏á Error ‡πÅ‡∏ö‡∏ö‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏´‡∏≤‡∏à‡∏∏‡∏î‡∏û‡∏±‡∏á‡πÑ‡∏î‡πâ‡∏á‡πà‡∏≤‡∏¢‡∏Ç‡∏∂‡πâ‡∏ô
        print(f"‚ùå ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î‡∏£‡∏∞‡∏´‡∏ß‡πà‡∏≤‡∏á Import: {str(e)}")

# ‡∏£‡∏±‡∏ô‡∏ü‡∏±‡∏á‡∏Å‡πå‡∏ä‡∏±‡∏ô
run_import()

- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á customers: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à
- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_accounts: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à
- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á payment_history: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à
- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_summary: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à
- ‡∏ï‡∏≤‡∏£‡∏≤‡∏á credit_scores: ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à

üöÄ ‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ç‡πâ‡∏≤ Schema 'credit_scoring' ‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô!

In [38]:
query = """
SELECT 
    credit_rating, 
    COUNT(*) as total_customers,
    ROUND(AVG(credit_score), 2) as avg_score,
    SUM(outstanding_balance) as total_debt
FROM credit_scoring.customers c
JOIN credit_scoring.credit_scores s ON c.customer_id = s.customer_id
JOIN credit_scoring.credit_accounts a ON c.customer_id = a.customer_id
GROUP BY credit_rating
ORDER BY avg_score DESC;
"""
df_check = pd.read_sql(query, engine)
df_check

  credit_rating  total_customers  avg_score   total_debt
0            AA              253     761.80   5766576.78
1            BB              467     739.07  13235115.03
2            CC              133     714.78   4640167.45
3           DD*               25     691.20   1191050.10
4            EE               13     675.00    558274.55
5            FF                5     659.60     51598.67
6            GG               11     633.18     63532.00
7            HH               93     458.51   3592771.97