In [19]:
import pandas as pd
from sqlalchemy import create_engine, text

In [20]:
    
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydatabase"

DATABASE_URL = (
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}"
    f"@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine = create_engine(DATABASE_URL)
print("✅ Connected to PostgreSQL")

✅ Connected to PostgreSQL

In [21]:
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

def create_tables():
    queries = [
        # Branches
        """
        CREATE TABLE IF NOT EXISTS branches (
            branch_id SERIAL PRIMARY KEY,
            branch_no INT UNIQUE NOT NULL
        );
        """,
        # Gender
        """
        CREATE TABLE IF NOT EXISTS gender (
            gender_id SERIAL PRIMARY KEY,
            gender_name VARCHAR(10) UNIQUE NOT NULL
        );
        """,
        # Careers
        """
        CREATE TABLE IF NOT EXISTS careers (
            career_id SERIAL PRIMARY KEY,
            career_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Provinces
        """
        CREATE TABLE IF NOT EXISTS provinces (
            province_id SERIAL PRIMARY KEY,
            province_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Members
        """
        CREATE TABLE IF NOT EXISTS members (
            member_id INT PRIMARY KEY,
            first_name VARCHAR(50) NOT NULL,
            last_name VARCHAR(50) NOT NULL,
            gender_id INT REFERENCES gender(gender_id),
            branch_id INT REFERENCES branches(branch_id),
            birthday DATE NOT NULL CHECK (birthday <= CURRENT_DATE),
            registration_date DATE NOT NULL CHECK (registration_date <= CURRENT_DATE),
            approval_date DATE CHECK (approval_date <= CURRENT_DATE),
            career_id INT REFERENCES careers(career_id),
            income NUMERIC(12,2) CHECK (income >= 0)
        );
        """,
        # Addresses
        """
        CREATE TABLE IF NOT EXISTS addresses (
            address_id SERIAL PRIMARY KEY,
            member_id INT NOT NULL REFERENCES members(member_id) ON DELETE CASCADE,
            house_no VARCHAR(20),
            moo VARCHAR(5),
            street VARCHAR(100),
            subdistrict VARCHAR(50),
            district VARCHAR(50),
            province_id INT REFERENCES provinces(province_id),
            postal_code VARCHAR(10),
            UNIQUE(member_id, house_no, moo, street, subdistrict, district, province_id, postal_code)
        );
        """
    ]

    with engine.begin() as conn:
        for q in queries:
            conn.execute(text(q))
    print("✅ Tables created successfully")

if __name__ == "__main__":
    create_tables()

✅ Tables created successfully

In [24]:
pd.read_sql(
    "SELECT * FROM public.branches;",
    engine
)

   branch_id  branch_no
0          6          3
1          7          4
2          8          2
3          9          5
4         10          1