In [19]:
import pandas as pd
from sqlalchemy import create_engine, text

In [20]:
    
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydatabase"

DATABASE_URL = (
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}"
    f"@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine = create_engine(DATABASE_URL)
print("‚úÖ Connected to PostgreSQL")

‚úÖ Connected to PostgreSQL

In [ ]:
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

def create_tables():
    queries = [
        # Branches
        """
        CREATE TABLE IF NOT EXISTS branches (
            branch_id SERIAL PRIMARY KEY,
            branch_no INT UNIQUE NOT NULL
        );
        """,
        # Gender
        """
        CREATE TABLE IF NOT EXISTS gender (
            gender_id SERIAL PRIMARY KEY,
            gender_name VARCHAR(10) UNIQUE NOT NULL
        );
        """,
        # Careers
        """
        CREATE TABLE IF NOT EXISTS careers (
            career_id SERIAL PRIMARY KEY,
            career_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Provinces
        """
        CREATE TABLE IF NOT EXISTS provinces (
            province_id SERIAL PRIMARY KEY,
            province_name VARCHAR(50) UNIQUE NOT NULL
        );
        """,
        # Members
        """
        CREATE TABLE IF NOT EXISTS members (
            member_id INT PRIMARY KEY,
            first_name VARCHAR(50) NOT NULL,
            last_name VARCHAR(50) NOT NULL,
            gender_id INT REFERENCES gender(gender_id),
            branch_id INT REFERENCES branches(branch_id),
            birthday DATE NOT NULL CHECK (birthday <= CURRENT_DATE),
            registration_date DATE NOT NULL CHECK (registration_date <= CURRENT_DATE),
            approval_date DATE CHECK (approval_date <= CURRENT_DATE),
            career_id INT REFERENCES careers(career_id),
            income NUMERIC(12,2) CHECK (income >= 0)
        );
        """,
        # Addresses
        """
        CREATE TABLE IF NOT EXISTS addresses (
            address_id SERIAL PRIMARY KEY,
            member_id INT NOT NULL REFERENCES members(member_id) ON DELETE CASCADE,
            house_no VARCHAR(20),
            moo VARCHAR(5),
            street VARCHAR(100),
            subdistrict VARCHAR(50),
            district VARCHAR(50),
            province_id INT REFERENCES provinces(province_id),
            postal_code VARCHAR(10),
            UNIQUE(member_id, house_no, moo, street, subdistrict, district, province_id, postal_code)
        );
        """,
        # Amount (Financial)
        """
        CREATE TABLE IF NOT EXISTS amount (
            member_id INT PRIMARY KEY REFERENCES members(member_id) ON DELETE CASCADE,

            net_yearly_income NUMERIC(14,2) NOT NULL CHECK (net_yearly_income >= 0),
            yearly_debt_payments NUMERIC(14,2) NOT NULL CHECK (yearly_debt_payments >= 0),

            credit_limit NUMERIC(14,2) NOT NULL CHECK (credit_limit >= 0),
            credit_limit_used_percent NUMERIC(5,2)
                CHECK (credit_limit_used_percent BETWEEN 0 AND 100)
        );
        """
    ]

    with engine.begin() as conn:
        for q in queries:
            conn.execute(text(q))
    print("‚úÖ Tables created successfully")

if __name__ == "__main__":
    create_tables()

‚úÖ Tables created successfully

In [24]:
pd.read_sql(
    "SELECT * FROM public.branches;",
    engine
)

   branch_id  branch_no
0          6          3
1          7          4
2          8          2
3          9          5
4         10          1

# AMOUNT

In [5]:
from sqlalchemy import create_engine, text
import pandas as pd

# ======================
# Database Config
# ======================
DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

# ======================
# Create Table: amount
# ======================
def create_amount_table():
    sql = """
    CREATE TABLE IF NOT EXISTS amount (
        amount_id SERIAL PRIMARY KEY,

        net_yearly_income NUMERIC(15,2) CHECK (net_yearly_income >= 0),
        yearly_debt_payments NUMERIC(15,2) CHECK (yearly_debt_payments >= 0),
        credit_limit NUMERIC(15,2) CHECK (credit_limit >= 0),

        credit_limit_used_pct NUMERIC(5,2)
            CHECK (credit_limit_used_pct BETWEEN 0 AND 100)
    );
    """
    with engine.begin() as conn:
        conn.execute(text(sql))
    print("‚úÖ Table amount created")

# ======================
# Create VIEW: members + amount
# JOIN by ROW_NUMBER
# ======================
def create_member_amount_view():
    sql = """
    CREATE OR REPLACE VIEW vw_member_amount AS
    SELECT
        m.member_id,
        m.first_name,
        m.last_name,
        m.income,

        a.net_yearly_income,
        a.yearly_debt_payments,
        a.credit_limit,
        a.credit_limit_used_pct
    FROM
        (
            SELECT *,
                   ROW_NUMBER() OVER (ORDER BY member_id) AS rn
            FROM members
            ORDER BY member_id
            LIMIT 300
        ) m
    JOIN
        (
            SELECT *,
                   ROW_NUMBER() OVER (ORDER BY amount_id) AS rn
            FROM amount
            ORDER BY amount_id
            LIMIT 300
        ) a
    ON m.rn = a.rn;
    """
    with engine.begin() as conn:
        conn.execute(text(sql))
    print("‚úÖ View vw_member_amount created")

# ======================
# Test Query
# ======================
def preview_join_result():
    df = pd.read_sql(
        "SELECT * FROM vw_member_amount LIMIT 5",
        engine
    )
    print("üîç Preview joined data:")
    print(df)

# ======================
# Run All
# ======================
if __name__ == "__main__":
    create_amount_table()
    create_member_amount_view()
    preview_join_result()

‚úÖ Table amount created
‚úÖ View vw_member_amount created
üîç Preview joined data:
Empty DataFrame
Columns: [member_id, first_name, last_name, income, net_yearly_income, yearly_debt_payments, credit_limit, credit_limit_used_pct]
Index: []