In [1]:
# ===============================
# 1) import library ที่จำเป็น
# ===============================
import pandas as pd
from sqlalchemy import create_engine


# ===============================
# 2) ตั้งค่าการเชื่อมต่อ PostgreSQL
# ===============================
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydatabase"

DATABASE_URL = (
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}"
    f"@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine = create_engine(DATABASE_URL)


# ===============================
# 3) อ่านไฟล์ CSV
# ===============================
CSV_PATH = "/Users/hilmanyusoh/Desktop/Co-opDash/data/member50.csv"

df = pd.read_csv(CSV_PATH)

# ดูข้อมูลตัวอย่าง
df.head()

,member_id,branch_code,prefix,name,surname,birthday,registration_date,approval_date,career,income,address,village_no,village,subdistrict,district,province,postal_code
0,100456,1,นาย,สมชาย,ใจดี,1990-05-15,2023-01-10,2023-01-15,พนักงานบริษัท,"35,000",123/45,1,มิตรภาพ,บางนา,บางนา,กรุงเทพมหานคร,10260
1,201321,2,นางสาว,สุภาภรณ์,รุ่งเรือง,1985-11-20,2023-02-20,2023-02-25,ครู,"28,000",88/9,5,สุขสันต์,ท่าศาลา,ท่าศาลา,นครศรีธรรมราช,80160
2,350789,3,นาง,วนิดา,แก้วใส,1978-03-01,2023-03-05,2023-03-10,ค้าขาย,"45,000",47,10,ศิริมงคล,บ้านดู่,เมืองเชียงราย,เชียงราย,57100
3,498112,4,นาย,พงษ์เทพ,มั่นคง,2000-07-28,2023-04-12,2023-04-18,นักศึกษา,"10,000",22/5,3,เกษมสุข,คูคต,ลำลูกกา,ปทุมธานี,12150
4,524670,5,นายแพทย์,อนันต์,ชื่นจิตต์,1970-12-05,2023-05-01,2023-05-05,แพทย์,"120,000",99/9,2,ราชพฤกษ์,สุเทพ,เมืองเชียงใหม่,เชียงใหม่,50200

In [2]:
# ===============================
# 4) บันทึกข้อมูลลง PostgreSQL 
# ===============================
TABLE_NAME = "members"

# สร้างตารางใหม่ด้วย schema ที่ถูกต้อง
df.to_sql(
    TABLE_NAME,
    engine,
    if_exists="replace",   
    index=False
)

print(f"✅ Import ข้อมูลเข้า PostgreSQL สำเร็จ (สร้างตาราง '{TABLE_NAME}' ใหม่และแทนที่ข้อมูล)")

✅ Import ข้อมูลเข้า PostgreSQL สำเร็จ (สร้างตาราง 'members' ใหม่และแทนที่ข้อมูล)