In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd 
import numpy as np

In [ ]:
# ======================
# PostgreSQL Config
# ======================
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydatabase"

DATABASE_URL = (
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}"
    f"@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine = create_engine(DATABASE_URL)
print("‚úÖ Connected to PostgreSQL")

‚úÖ Connected to PostgreSQL

In [ ]:
def import_data(csv_path):
    df = pd.read_csv(csv_path)

    with engine.begin() as conn:
        # --- Lookup Tables ---
        # Gender
        genders = df['gender'].dropna().unique()
        for g in genders:
            conn.execute(
                text("INSERT INTO gender (gender_name) VALUES (:name) ON CONFLICT DO NOTHING"),
                {"name": str(g)}
            )

        # Branches
        branches = df['branch_no'].dropna().unique()
        for b in branches:
            conn.execute(
                text("INSERT INTO branches (branch_no) VALUES (:branch_no) ON CONFLICT DO NOTHING"),
                {"branch_no": int(b)}
            )

        # Careers
        careers = df['career'].dropna().unique()
        for c in careers:
            conn.execute(
                text("INSERT INTO careers (career_name) VALUES (:name) ON CONFLICT DO NOTHING"),
                {"name": str(c)}
            )

        # Provinces
        provinces = df['province'].dropna().unique()
        for p in provinces:
            conn.execute(
                text("INSERT INTO provinces (province_name) VALUES (:name) ON CONFLICT DO NOTHING"),
                {"name": str(p)}
            )

        # --- Insert Members and Addresses ---
        for _, row in df.iterrows():
            # Lookup FK ids and cast types
            gender_id = int(conn.execute(
                text("SELECT gender_id FROM gender WHERE gender_name=:name"),
                {"name": str(row['gender'])}
            ).scalar())

            branch_id = int(conn.execute(
                text("SELECT branch_id FROM branches WHERE branch_no=:branch_no"),
                {"branch_no": int(row['branch_no'])}
            ).scalar())

            career_id = conn.execute(
                text("SELECT career_id FROM careers WHERE career_name=:name"),
                {"name": str(row['career'])}
            ).scalar()
            career_id = int(career_id) if career_id is not None else None

            province_id = conn.execute(
                text("SELECT province_id FROM provinces WHERE province_name=:name"),
                {"name": str(row['province'])}
            ).scalar()
            province_id = int(province_id) if province_id is not None else None

            # Insert member
            conn.execute(text("""
                INSERT INTO members
                (member_id, first_name, last_name, gender_id, branch_id, birthday, registration_date, approval_date, career_id, income)
                VALUES
                (:member_id, :first_name, :last_name, :gender_id, :branch_id, :birthday, :registration_date, :approval_date, :career_id, :income)
            """), {
                "member_id": int(row['member_id']), # ‡∏î‡∏∂‡∏á ID ‡∏à‡∏≤‡∏Å CSV ‡∏°‡∏≤‡πÉ‡∏ä‡πâ‡πÄ‡∏•‡∏¢
                "first_name": str(row['first_name']),
                "last_name": str(row['last_name']),
                "gender_id": gender_id,
                "branch_id": branch_id,
                "birthday": row['birthday'],
                "registration_date": row['registration_date'],
                "approval_date": row.get('approval_date', None),
                "career_id": career_id,
                "income": float(row.get('income', 0))
            })

            # Get member_id
            current_member_id = int(row['member_id'])

            # Insert address
            conn.execute(text("""
                INSERT INTO addresses
                (member_id, house_no, moo, street, subdistrict, district, province_id, postal_code)
                VALUES
                (:member_id, :house_no, :moo, :street, :subdistrict, :district, :province_id, :postal_code)
            """), {
                "member_id": current_member_id,
                "house_no": str(row.get('house_no')),
                "moo": str(row.get('village_no')),      # ‡πÉ‡∏ô CSV ‡πÉ‡∏ä‡πâ‡∏ä‡∏∑‡πà‡∏≠ village_no
                "street": str(row.get('road')),         # ‡πÉ‡∏ô CSV ‡πÉ‡∏ä‡πâ‡∏ä‡∏∑‡πà‡∏≠ road
                "subdistrict": str(row.get('sub_area')), # ‡πÉ‡∏ô CSV ‡πÉ‡∏ä‡πâ‡∏ä‡∏∑‡πà‡∏≠ sub_area
                "district": str(row.get('district_area')), # ‡πÉ‡∏ô CSV ‡πÉ‡∏ä‡πâ‡∏ä‡∏∑‡πà‡∏≠ district_area
                "province_id": province_id,
                "postal_code": str(row.get('postal_code'))
            })

    print("‚úÖ CSV data inserted successfully")

if __name__ == "__main__":
   import_data("/Users/hilmanyusoh/Desktop/Co-opDash/data/member300.csv")

‚úÖ CSV data inserted successfully

# AMOUNT

In [12]:
from sqlalchemy import create_engine, text
import pandas as pd

# ======================
# Database Config
# ======================
DB_URL = "postgresql+psycopg2://myuser:mypassword@localhost:5432/mydatabase"
engine = create_engine(DB_URL)

CSV_PATH = "/Users/hilmanyusoh/Desktop/Co-opDash/data/datacredit.csv"

# ======================
# 1) Create Table: amount
# ======================
def create_amount_table():
    sql = """
    CREATE TABLE IF NOT EXISTS amount (
        amount_id SERIAL PRIMARY KEY,

        net_yearly_income NUMERIC(15,2) CHECK (net_yearly_income >= 0),
        yearly_debt_payments NUMERIC(15,2) CHECK (yearly_debt_payments >= 0),
        credit_limit NUMERIC(15,2) CHECK (credit_limit >= 0),

        credit_limit_used_pct NUMERIC(5,2)
            CHECK (credit_limit_used_pct BETWEEN 0 AND 100)
    );
    """
    with engine.begin() as conn:
        conn.execute(text(sql))
    print("‚úÖ Table amount created")

# ======================
# 2) Import CSV ‚Üí amount (limit 300 rows)
# ======================
def import_amount(csv_path, limit_rows=300):
    df = pd.read_csv(csv_path)

    # ‡∏à‡∏≥‡∏Å‡∏±‡∏î‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö members
    df = df.head(limit_rows)

    # rename column ‡πÉ‡∏´‡πâ‡∏õ‡∏•‡∏≠‡∏î‡∏†‡∏±‡∏¢
    df = df.rename(columns={
        "credit_limit_used(%)": "credit_limit_used_pct"
    })

    required_cols = [
        "net_yearly_income",
        "yearly_debt_payments",
        "credit_limit",
        "credit_limit_used_pct"
    ]

    missing = set(required_cols) - set(df.columns)
    if missing:
        raise ValueError(f"‚ùå CSV ‡∏Ç‡∏≤‡∏î column: {missing}")

    # ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç
    for col in required_cols:
        df[col] = pd.to_numeric(df[col], errors="coerce").fillna(0)

    with engine.begin() as conn:
        for _, row in df.iterrows():
            conn.execute(
                text("""
                    INSERT INTO amount
                    (
                        net_yearly_income,
                        yearly_debt_payments,
                        credit_limit,
                        credit_limit_used_pct
                    )
                    VALUES
                    (
                        :net_yearly_income,
                        :yearly_debt_payments,
                        :credit_limit,
                        :credit_limit_used_pct
                    )
                """),
                {
                    "net_yearly_income": row["net_yearly_income"],
                    "yearly_debt_payments": row["yearly_debt_payments"],
                    "credit_limit": row["credit_limit"],
                    "credit_limit_used_pct": row["credit_limit_used_pct"]
                }
            )

    print(f"‚úÖ Import amount ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à ({len(df)} rows)")

# ======================
# 3) Create VIEW (ROW_NUMBER JOIN)
# ======================
def create_member_amount_view():
    sql = """
    CREATE OR REPLACE VIEW vw_member_amount AS
    SELECT
        m.member_id,
        m.first_name,
        m.last_name,
        m.income,

        a.net_yearly_income,
        a.yearly_debt_payments,
        a.credit_limit,
        a.credit_limit_used_pct
    FROM
        (
            SELECT *,
                   ROW_NUMBER() OVER (ORDER BY member_id) AS rn
            FROM members
            ORDER BY member_id
            LIMIT 300
        ) m
    JOIN
        (
            SELECT *,
                   ROW_NUMBER() OVER (ORDER BY amount_id) AS rn
            FROM amount
            ORDER BY amount_id
            LIMIT 300
        ) a
    ON m.rn = a.rn;
    """
    with engine.begin() as conn:
        conn.execute(text(sql))
    print("‚úÖ View vw_member_amount created")

# ======================
# 4) Preview Result
# ======================
def preview_join():
    df = pd.read_sql(
        "SELECT * FROM vw_member_amount LIMIT 5",
        engine
    )
    print("üîç Preview joined data:")
    print(df)

# ======================
# Run All
# ======================
if __name__ == "__main__":
    create_amount_table()
    import_amount(CSV_PATH, limit_rows=300)
    create_member_amount_view()
    preview_join()

‚úÖ Table amount created
‚úÖ Import amount ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à (300 rows)
‚úÖ View vw_member_amount created
üîç Preview joined data:
   member_id  first_name    last_name    income  net_yearly_income  \
0     500001      ‡∏ä‡∏±‡∏ä‡∏ß‡∏≤‡∏•  ‡πÄ‡∏•‡∏¥‡∏®‡∏û‡∏¥‡∏ó‡∏±‡∏Å‡∏©‡πå   78934.0          232640.53
1     500002     ‡∏≠‡∏≤‡∏£‡∏µ‡∏ü‡∏µ‡∏ô     ‡∏ê‡∏≤‡∏ô‡∏ß‡∏±‡∏í‡∏ô‡πå  210559.0          284396.79
2     500003    ‡∏ã‡∏≤‡∏ü‡∏µ‡∏¢‡∏∞‡∏´‡πå   ‡∏™‡∏≤‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå  209741.0          149419.28
3     500004     ‡∏Å‡∏ô‡∏Å‡∏ß‡∏£‡∏£‡∏ì    ‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏û‡∏á‡∏®‡πå  121277.0          160437.54
4     500005  ‡∏®‡∏¥‡∏£‡∏¥‡∏•‡∏±‡∏Å‡∏©‡∏ì‡πå    ‡∏®‡∏≤‡∏ô‡∏ï‡∏¥‡∏ò‡∏£‡∏£‡∏°  170051.0          233480.37

   yearly_debt_payments  credit_limit  credit_limit_used_pct
0              14406.73      26524.40                    4.0
1              57479.99      68998.72                   70.0
2              21611.01      25187.80                   71.0
3              28990.76      29179.39                    9.0
4              54213.72      82331.82                   82.0